I'd like you to generate Python code to answer question. At the end of the code you will print out the answer directly.

{% for ex in examples %}
QUESTION: {{ex.question}}
CODE: {{ex.code}}

{% endfor %}

QUESTION: {{ question }}
CODE: 